.header{
		background: #73D5F0;
		/*height: 100px;*/
	}
	.header h1,{
		color:#333334;
		font-family: 'Bubblegum Sans', cursive;
		margin:0;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#blog{
		background: #F0F3F3;
	}
		#blog h3{
			color:#008C99;
		}
.comments{
	margin-left: 100px;
}
.serhler h1{
	color:#333334;
	font-family: 'Bubblegum Sans', cursive;
	margin:0;
	margin-top: 30px;
}

/*------------------------COMMENT BLOGU------------------------*/
.comment{
	border-bottom:2px dotted #A2A2A2;
	margin-bottom:10px;
}
	.comment .photo{
		width: 50px;
		height: 50px;
		display: inline-block;
		margin-bottom:10px;
	}
		.comment .photo img{
			width: 50px;
			height: 50px;
			border:1px solid black;
			border-radius: 100%;
			display: inline-block;
		}
	.datas{
		margin-left: 10px;
	}
	.comment p{
		display: inline-block;
	}
		.commenter{
			color: #008C99;
			font-size: 18px;
			font-family: 'Bubblegum Sans', cursive;
			margin-bottom:10px;
		}
	.comment .text{
		margin-top: -10px;
		display: block;
	}
	.comment .time{
		font-size: 12px;
		color:#5C5C5C;
	}