
@import '_header.scss';
@import '_bottom.scss';
@import '_footer.scss';
@import '_slider.scss';
@import "index";
@import "ourTeachers.scss";
@import "leisureTime.scss";
@import "ourFounder.scss";
@import "portfolioHexagon.scss";
@import "fun.scss";
@import "portfolioHexa.scss";
@import "Arts1.scss";


body{
	font-family: tahoma;
}
@font-face {
	font-family: 'Bubblegum Sans';
	src: url('../../fonts/Lionelo-Paris.eot');
	src: url('../../fonts/Lionelo-Paris.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Lionelo-Paris.woff') format('woff'),
		url('../../fonts/Lionelo-Paris.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


